.gradle/
build/
**/build/
local.properties
app/google-services.json
*.jks
*.keystore
/.idea/

/firebase/node_modules/
/firebase/package-lock.json
/.gradle-user-home/
/.kotlin/sessions/kotlin-compiler-8239411718982181713.salive
